<form action="/answer" data-turbo="false">
  <input type="text" class="form-control" name="question" id="question" aria-describedby="description">
  <div id="description" class="form-text">
  Communicate with the Coach here. Just bear in mind that he doesn't care about your feelings
  </div>
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
